<h1>Movies#edit</h1>
<p>Find me in app/views/movies/edit.html.erb</p>

<%= form_for @movie, url: url_for(controller: 'movies', action: 'update'), html: { method: :put } do |f| %>
  <%= render 'form', f: f %>
<% end %>
