<% @reviews.each do |review| %>
  <h2><%= link_to review.movie.title, controller: :movies, action: :show, id: review.movie.id %></h2><br />
  <p><%= review.content %></p><br />
  <%= link_to 'Edit review', controller: :reviews, action: :edit, id: review.id %>
<% end %>