<h1>Reviews#edit</h1>
<p>Find me in app/views/reviews/edit.html.erb</p>

<%= form_for @review, url: url_for(controller: 'reviews', action: 'update'), html: { method: :put } do |f| %>
  <%= render 'form', f: f %>
<% end %>
