<h1>Reviews#new</h1>
<p>Find me in app/views/reviews/new.html.erb</p>

<%= form_for @review, url: url_for(controller: 'reviews', action: 'create'), html: { method: :post } do |f| %>
  <%= render 'form', f: f %>
<% end %>
